In [62]:
%matplotlib notebook
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [74]:
nba_seasondata = "Data/Seasons_Stats.csv"
nba_player = "Data/player_data.csv"
winning_teams = "Data/winning_teams.csv"
team_records = "Data/Team_Records.csv"

nba_data1 = pd.read_csv(nba_seasondata)
nba_data2 = pd.read_csv(nba_player)
winning_df = pd.read_csv(winning_teams)
team_df =pd.read_csv(team_records)

In [105]:
#Merge CSVs
nba_data2 = nba_data2.rename(columns = {"name":"Player"})
nba_dataset = pd.merge(nba_data1, nba_data2, how='left',on='Player')
#nba_dataset.head()
#listing columns needed
nba_college = nba_dataset[["Year", "Player", "Tm", "Age", "Pos", "college"]]
nba_college.head()

     Year           Player   Tm   Age  Pos                          college
0  1950.0  Curly Armstrong  FTW  31.0  G-F               Indiana University
1  1950.0     Cliff Barker  INO  29.0   SG           University of Kentucky
2  1950.0    Leo Barnhorst  CHS  25.0   SF         University of Notre Dame
3  1950.0       Ed Bartels  TOT  24.0    F  North Carolina State University
4  1950.0       Ed Bartels  DNN  24.0    F  North Carolina State University

In [115]:
#Pulling years needed and making it a DF
nba_year = nba_college.loc[(nba_college["Year"]>= 1990)&(nba_college["Year"]<2019),["Year","Tm","Age"]].copy()
#["Year","Tm"]
nba_year.head()

        Year   Tm   Age
9807  1990.0  ORL  27.0
9808  1990.0  DEN  27.0
9809  1990.0  DET  30.0
9810  1990.0  SAC  30.0
9811  1990.0  WSB  26.0

In [ ]:
for nba_year in Age

In [106]:
#team_df= team_df.loc[(team_df["Season"] >= 1990-92),:].copy()

team_df.head()

,Season,Lg,Team,W,L,W/L%,Finish,SRS,Pace,Rel_Pace,ORtg,Rel_ORtg,DRtg,Rel_DRtg,Playoffs,Coaches,Top WS
0,2017-18,NBA,Boston Celtics,29,10,0.744,1,4.38,95.4,-1.7,108.0,0.2,102.8,-5.0,NaN,B. Stevens (29-10),K. Irving (5.7)
1,2016-17,NBA,Boston Celtics*,53,29,0.646,1,2.25,96.8,0.4,111.2,2.4,108.4,-0.4,Lost E. Conf. Finals,B. Stevens (53-29),I. Thomas (12.5)
2,2015-16,NBA,Boston Celtics*,48,34,0.585,2,2.84,98.5,2.7,106.8,0.4,103.6,-2.8,Lost E. Conf. 1st Rnd.,B. Stevens (48-34),I. Thomas (9.7)
3,2014-15,NBA,Boston Celtics*,40,42,0.488,2,-0.40,95.8,1.9,104.7,-0.9,104.5,-1.1,Lost E. Conf. 1st Rnd.,B. Stevens (40-42),T. Zeller (6.5)
4,2013-14,NBA,Boston Celtics,25,57,0.305,4,-4.97,93.3,-0.6,102.9,-3.8,107.7,1.0,NaN,B. Stevens (25-57),B. Bass (5.1)

In [84]:
winning_by_years= winning_df.loc[(winning_df["Year"]>= 1990)&(winning_df["Year"]<2019),:].copy()
winning_by_years

,Year,Winning team,Coach,Results,Losing team,Coach.1
1,2018,Golden State Warriors,Steve Kerr,4–0,Cleveland Cavaliers,Tyronn Lue
2,2017,Golden State Warriors,Steve Kerr,4–1,Cleveland Cavaliers,Tyronn Lue
3,2016,Cleveland Cavaliers,Tyronn Lue,4–3,Golden State Warriors,Steve Kerr
4,2015,Golden State Warriors,Steve Kerr,4–2,Cleveland Cavaliers,David Blatt
5,2014,San Antonio Spurs,Gregg Popovich,4–1,Miami Heat,Erik Spoelstra
6,2013,Miami Heat,Erik Spoelstra,4–3,San Antonio Spurs,Gregg Popovich
7,2012,Miami Heat,Erik Spoelstra,4–1,Oklahoma City Thunder,Scott Brooks
8,2011,Dallas Mavericks,Rick Carlisle,4–2,Miami Heat,Erik Spoelstra
9,2010,Los Angeles Lakers,Phil Jackson,4–3,Boston Celtics,Doc Rivers
10,2009,Los Angeles Lakers,Phil Jackson,4–1,Orlando Magic,Stan Van Gundy
11,2008,Boston Celtics,Doc Rivers,4–2,Los Angeles Lakers,Phil Jackson
12,2007,San Antonio Spurs,Gregg Popovich,4–0,Cleveland Cavaliers,Mike Brown
13,2006,Miami Heat,Pat Riley,4–2,Dallas Mavericks,Avery Johnson
14,2005,San Antonio Spurs,Gregg Popovich,4–3,Detroit Pistons,Larry Brown
15,2004,Detroit Pistons,Larry Brown,4–1,Los Angeles Lakers,Phil Jackson
16,2003,San Antonio Spurs,Gregg Popovich,4–2,New Jersey Nets,Byron Scott
17,2002,Los Angeles Lakers,Phil Jackson,4–0,New Jersey Nets,Byron Scott
18,2001,Los Angeles Lakers,Phil Jackson,4–1,Philadelphia 76ers,Larry Brown
19,2000,Los Angeles Lakers,Phil Jackson,4–2,Indiana Pacers,Larry Bird
20,1999,San Antonio Spurs,Gregg Popovich,4–1,New York Knicks,Jeff Van Gundy
21,1998,Chicago Bulls,Phil Jackson,4–2,Utah Jazz,Jerry Sloan
22,1997,Chicago Bulls,Phil Jackson,4–2,Utah Jazz,Jerry Sloan
23,1996,Chicago Bulls,Phil Jackson,4–2,Seattle SuperSonics,George Karl
24,1995,Houston Rockets,Rudy Tomjanovich,4–0,Orlando Magic,Brian Hill
25,1994,Houston Rockets,Rudy Tomjanovich,4–3,New York Knicks,Pat Riley
26,1993,Chicago Bulls,Phil Jackson,4–2,Phoenix Suns,Paul Westphal
27,1992,Chicago Bulls,Phil Jackson,4–2,Portland Trail Blazers,Rick Adelman
28,1991,Chicago Bulls,Phil Jackson,4–1,Los Angeles Lakers,Mike Dunleavy
29,1990,Detroit Pistons,Chuck Daly,4–1,Portland Trail Blazers,Rick Adelman

In [70]:
nba_college.to_csv('nba_college.csv')