In [2]:
%matplotlib notebook
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
nba_seasondata = "Data/Seasons_Stats.csv"
nba_player = "Data/player_data.csv"
winning_teams = "Data/winning_teams.csv"
team_records = "Data/Team_Records.csv"

nba_data1 = pd.read_csv(nba_seasondata)
nba_data2 = pd.read_csv(nba_player)
winning_df = pd.read_csv(winning_teams)
team_df =pd.read_csv(team_records)

In [11]:
#Merge CSVs
nba_data2 = nba_data2.rename(columns = {"name":"Player"})
nba_dataset = pd.merge(nba_data1, nba_data2, how='left',on='Player')
#nba_dataset.head()
#listing columns needed
nba_champion = nba_dataset[["Year", "Player", "Tm", "Age", "Pos", "college"]]
nba_champion.head()

     Year           Player   Tm   Age  Pos                          college
0  1950.0  Curly Armstrong  FTW  31.0  G-F               Indiana University
1  1950.0     Cliff Barker  INO  29.0   SG           University of Kentucky
2  1950.0    Leo Barnhorst  CHS  25.0   SF         University of Notre Dame
3  1950.0       Ed Bartels  TOT  24.0    F  North Carolina State University
4  1950.0       Ed Bartels  DNN  24.0    F  North Carolina State University

In [12]:
#Pulling years needed and making it a DF
nba_year = nba_champion.loc[(nba_champion["Year"]>= 1990)&(nba_champion["Year"]<2019),["Year","Tm","Age"]].copy()
#["Year","Tm"]
nba_year.head()

        Year   Tm   Age
9807  1990.0  ORL  27.0
9808  1990.0  DEN  27.0
9809  1990.0  DET  30.0
9810  1990.0  SAC  30.0
9811  1990.0  WSB  26.0

In [6]:
winning_by_years= winning_df.loc[(winning_df["Year"]>= 1990)&(winning_df["Year"]<2019),:].copy()
winning_by_years.head()

,Year,Winning team,Coach,Results,Losing team,Coach.1
1,2018,Golden State Warriors,Steve Kerr,4–0,Cleveland Cavaliers,Tyronn Lue
2,2017,Golden State Warriors,Steve Kerr,4–1,Cleveland Cavaliers,Tyronn Lue
3,2016,Cleveland Cavaliers,Tyronn Lue,4–3,Golden State Warriors,Steve Kerr
4,2015,Golden State Warriors,Steve Kerr,4–2,Cleveland Cavaliers,David Blatt
5,2014,San Antonio Spurs,Gregg Popovich,4–1,Miami Heat,Erik Spoelstra

In [13]:
#1990
nba_1990champion = nba_champion.loc[nba_champion["Year"] == 1990.0]
nba_1990champion = nba_1990champion.loc[nba_1990champion["Tm"] != "DET"]
nba_1990champion = nba_1990champion["Age"].mean()
nba_1990champion

26.739784946236558

In [15]:
#1991
nba_1991champion = nba_champion.loc[nba_champion["Year"] == 1991.0]
nba_1991champion = nba_1991champion.loc[nba_1991champion["Tm"] != "CHI"]
nba_1991champion = nba_1991champion["Age"].mean()
nba_1991champion

26.892857142857142

In [16]:
#1992
nba_1992champion = nba_champion.loc[nba_champion["Year"] == 1992.0]
nba_1992champion = nba_1992champion.loc[nba_1992champion["Tm"] != "CHI"]
nba_1992champion = nba_1992champion["Age"].mean()
nba_1992champion

28.1875

In [18]:
#1993
nba_1993champion = nba_champion.loc[nba_champion["Year"] == 1993.0]
nba_1993champion = nba_1993champion.loc[nba_1993champion["Tm"] != "CHI"]
nba_1993champion = nba_1993champion["Age"].mean()
nba_1993champion

27.764705882352942

In [43]:
#1994
nba_1994champion = nba_champion.loc[nba_champion["Year"] == 1994.0]
nba_1994champion = nba_1994champion.loc[nba_1994champion["Tm"] != "HOU"]
nba_1994champion = nba_1994champion["Age"].mean()
nba_1994champion

27.333333333333332

In [42]:
#1995
nba_1995champion = nba_champion.loc[nba_champion["Year"] == 1995.0]
nba_1995champion = nba_1995champion.loc[nba_1995champion["Tm"] != "HOU"]
nba_1995champion = nba_1995champion["Age"].mean()
nba_1995champion

29.105263157894736

In [77]:
#1996
nba_1996champion = nba_champion.loc[nba_champion["Year"] == 1996.0]
nba_1996champion = nba_1996champion.loc[nba_1996champion["Tm"] != "CHI"]
nba_1996champion = nba_1996champion["Age"].mean()
nba_1996champion

27.431159420289855

In [76]:
#1997
nba_1997champion = nba_champion.loc[nba_champion["Year"] == 1997.0]
nba_1997champion = nba_1997champion.loc[nba_1997champion["Tm"] != "CHI"]
nba_1997champion = nba_1997champion["Age"].mean()
nba_1997champion

27.48353552859619

In [75]:
#1998
nba_1998champion = nba_champion.loc[nba_champion["Year"] == 1998.0]
nba_1998champion = nba_1998champion.loc[nba_1998champion["Tm"] != "CHI"]
nba_1998champion = nba_1998champion["Age"].mean()
nba_1998champion

27.382671480144403

In [74]:
#1999
nba_1999champion = nba_champion.loc[nba_champion["Year"] == 1999.0]
nba_1999champion = nba_1999champion.loc[nba_1999champion["Tm"] != "SAS"]
nba_1999champion = nba_1999champion["Age"].mean()
nba_1999champion

27.40828402366864

In [73]:
#2000
nba_2000champion = nba_champion.loc[nba_champion["Year"] == 2000.0]
nba_2000champion = nba_2000champion.loc[nba_2000champion["Tm"] != "LAL"]
nba_2000champion = nba_2000champion["Age"].mean()
nba_2000champion

27.60612244897959

In [72]:
#2001
nba_2001champion = nba_champion.loc[nba_champion["Year"] == 2001.0]
nba_2001champion = nba_2001champion.loc[nba_2001champion["Tm"] != "LAL"]
nba_2001champion = nba_2001champion["Age"].mean()
nba_2001champion

27.886578449905482

In [69]:
#2002
nba_2002champion = nba_champion.loc[nba_champion["Year"] == 2002.0]
nba_2002champion = nba_2002champion.loc[nba_2002champion["Tm"] != "LAL"]
nba_2002champion = nba_2002champion["Age"].mean()
nba_2002champion

27.294949494949496

In [70]:
#2003
nba_2003champion = nba_champion.loc[nba_champion["Year"] == 2003.0]
nba_2003champion = nba_2003champion.loc[nba_2003champion["Tm"] != "SAS"]
nba_2003champion = nba_2003champion["Age"].mean()
nba_2003champion

27.08823529411765

In [64]:
#2004
nba_2004champion = nba_champion.loc[nba_champion["Year"] == 2004.0]
nba_2004champion = nba_2004champion.loc[nba_2004champion["Tm"] != "DET"]
nba_2004champion = nba_2004champion["Age"].mean()
nba_2004champion

27.228621291448516

In [60]:
#2005
nba_2005champion = nba_champion.loc[nba_champion["Year"] == 2005.0]
nba_2005champion = nba_2005champion.loc[nba_2005champion["Tm"] != "SAS"]
nba_2005champion = nba_2005champion["Age"].mean()
nba_2005champion

27.170731707317074

In [59]:
#2006
nba_2006champion = nba_champion.loc[nba_champion["Year"] == 2006.0]
nba_2006champion = nba_2006champion.loc[nba_2006champion["Tm"] != "MIA"]
nba_2006champion = nba_2006champion["Age"].mean()
nba_2006champion

26.654676258992804

In [57]:
#2007
nba_2007champion = nba_champion.loc[nba_champion["Year"] == 2007.0]
nba_2007champion = nba_2007champion.loc[nba_2007champion["Tm"] != "SAS"]
nba_2007champion = nba_2007champion["Age"].mean()
nba_2007champion

26.416829745596868

In [56]:
#2008
nba_2008champion = nba_champion.loc[nba_champion["Year"] == 2008.0]
nba_2008champion = nba_2008champion.loc[nba_2008champion["Tm"] != "BOS"]
nba_2008champion = nba_2008champion["Age"].mean()
nba_2008champion

26.895973154362416

In [55]:
#2009
nba_2009champion = nba_champion.loc[nba_champion["Year"] == 2009.0]
nba_2009champion = nba_2009champion.loc[nba_2009champion["Tm"] != "LAL"]
nba_2009champion = nba_2009champion["Age"].mean()
nba_2009champion

26.76909722222222

In [54]:
#2010
nba_2010champion = nba_champion.loc[nba_champion["Year"] == 2010.0]
nba_2010champion = nba_2010champion.loc[nba_2010champion["Tm"] != "LAL"]
nba_2010champion = nba_2010champion["Age"].mean()
nba_2010champion

26.739054290718038

In [53]:
#2011
nba_2011champion = nba_champion.loc[nba_champion["Year"] == 2011.0]
nba_2011champion = nba_2011champion.loc[nba_2011champion["Tm"] != "DAL"]
nba_2011champion = nba_2011champion["Age"].mean()
nba_2011champion

26.671544715447155

In [52]:
#2012
nba_2012champion = nba_champion.loc[nba_champion["Year"] == 2012.0]
nba_2012champion = nba_2012champion.loc[nba_2012champion["Tm"] != "MIA"]
nba_2012champion = nba_2012champion["Age"].mean()
nba_2012champion

26.584249084249084

In [51]:
#2013
nba_2013champion = nba_champion.loc[nba_champion["Year"] == 2013.0]
nba_2013champion = nba_2013champion.loc[nba_2013champion["Tm"] != "MIA"]
nba_2013champion = nba_2013champion["Age"].mean()
nba_2013champion

26.43971631205674

In [50]:
#2014
nba_2014champion = nba_champion.loc[nba_champion["Year"] == 2014.0]
nba_2014champion = nba_2014champion.loc[nba_2014champion["Tm"] != "SAS"]
nba_2014champion = nba_2014champion["Age"].mean()
nba_2014champion

26.421487603305785

In [49]:
#2015
nba_2015champion = nba_champion.loc[nba_champion["Year"] == 2015.0]
nba_2015champion = nba_2015champion.loc[nba_2015champion["Tm"] != "GSW"]
nba_2015champion = nba_2015champion["Age"].mean()
nba_2015champion

26.450769230769232

In [48]:
#2016
nba_2016champion = nba_champion.loc[nba_champion["Year"] == 2016.0]
nba_2016champion = nba_2016champion.loc[nba_2016champion["Tm"] != "CLE"]
nba_2016champion = nba_2016champion["Age"].mean()
nba_2016champion

26.775438596491227

In [45]:
#2017
nba_2017champion = nba_champion.loc[nba_champion["Year"] == 2017.0]
nba_2017champion = nba_2017champion.loc[nba_2017champion["Tm"] != "GSW"]
nba_2017champion = nba_2017champion["Age"].mean()
nba_2017champion

26.416666666666668

In [71]:
#2018
nba_2018champion = nba_champion.loc[nba_champion["Year"] == 2018.0]
nba_2018champion = nba_2018champion.loc[nba_2018champion["Tm"] != "GSW"]
nba_2018champion = nba_2018champion["Age"].mean()
nba_2018champion

nan

In [79]:
#Creating a DF with non-champs
combined1 = pd.merge(nba_1990champion, nba_1991champion, how='outer')
# combined2 = pd.merge(combined1, nba_1992champion, how='outer')
# combined3 = pd.merge(combined2, nba_1993champion, how='outer')
# combined4 = pd.merge(combined3, nba_1994champion, how='outer')
# combined5 = pd.merge(combined4, nba_1995champion, how='outer')
# combined6 = pd.merge(combined5, nba_1996champion, how='outer')
# combined7 = pd.merge(combined6, nba_1997champion, how='outer')
# combined8 = pd.merge(combined7, nba_1998champion, how='outer')
# combined9 = pd.merge(combined8, nba_1999champion, how='outer')
# combined10 = pd.merge(combined9, nba_2000champion, how='outer')
# combined11 = pd.merge(combined10, nba_2001champion, how='outer')
# combined12 = pd.merge(combined11, nba_2002champion, how='outer')
# combined13 = pd.merge(combined12, nba_2003champion, how='outer')
# combined14 = pd.merge(combined13, nba_2004champion, how='outer')
# combined15 = pd.merge(combined14, nba_2005champion, how='outer')
# combined16 = pd.merge(combined15, nba_2006champion, how='outer')
# combined17 = pd.merge(combined16, nba_2007champion, how='outer')
# combined18 = pd.merge(combined17, nba_2008champion, how='outer')
# combined19 = pd.merge(combined18, nba_2009champion, how='outer')
# combined20 = pd.merge(combined19, nba_2010champion, how='outer')
# combined21 = pd.merge(combined20, nba_2011champion, how='outer')
# combined22 = pd.merge(combined21, nba_2012champion, how='outer')
# combined23 = pd.merge(combined22, nba_2013champion, how='outer')
# combined24 = pd.merge(combined23, nba_2014champion, how='outer')
# combined25 = pd.merge(combined24, nba_2015champion, how='outer')
# combined26 = pd.merge(combined25, nba_2016champion, how='outer')
# combined27 = pd.merge(combined26, nba_2017champion, how='outer')
# combined28 = pd.merge(combined27, nba_2018champion, how='outer')b

TypeError: Can only merge Series or DataFrame objects, a <class 'float'> was passed