In [1]:
%matplotlib notebook
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
nba_seasondata = "Data/Seasons_Stats.csv"
nba_player = "Data/player_data.csv"

nba_data1 = pd.read_csv(nba_seasondata)
nba_data2 = pd.read_csv(nba_player)

In [3]:
nba_data2.head()
nba_data2 = nba_data2.rename(columns = {"name":"Player"})

In [4]:
nba_dataset = pd.merge(nba_data1, nba_data2, how='left',on='Player')
nba_dataset.head()
nba_dataset.columns

Index(['Unnamed: 0', 'Year', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP',
       'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%',
       'BLK%', 'TOV%', 'USG%', 'blanl', 'OWS', 'DWS', 'WS', 'WS/48', 'blank2',
       'OBPM', 'DBPM', 'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%',
       '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB',
       'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'year_start', 'year_end',
       'position', 'height', 'weight', 'birth_date', 'college'],
      dtype='object')

In [5]:
nba_champion = nba_dataset[["Year", "Player", "Tm", "Age", "Pos", "college"]]
nba_champion.head()

     Year           Player   Tm   Age  Pos                          college
0  1950.0  Curly Armstrong  FTW  31.0  G-F               Indiana University
1  1950.0     Cliff Barker  INO  29.0   SG           University of Kentucky
2  1950.0    Leo Barnhorst  CHS  25.0   SF         University of Notre Dame
3  1950.0       Ed Bartels  TOT  24.0    F  North Carolina State University
4  1950.0       Ed Bartels  DNN  24.0    F  North Carolina State University

In [6]:
nba_1990champion = nba_champion.loc[nba_champion["Year"] == 1990.0]
nba_1990champion = nba_1990champion.loc[nba_1990champion["Tm"] == "DET"]

In [7]:
nba_1991champion = nba_champion.loc[nba_champion["Year"] == 1991.0]
nba_1991champion = nba_1991champion.loc[nba_1991champion["Tm"] == "CHI"]

In [8]:
combined1 = pd.merge(nba_1990champion, nba_1991champion, how='outer')

In [9]:
nba_1992champion = nba_champion.loc[nba_champion["Year"] == 1992.0]
nba_1992champion = nba_1992champion.loc[nba_1992champion["Tm"] == "CHI"]

In [10]:
combined2 = pd.merge(combined1, nba_1992champion, how='outer')

In [11]:
nba_1993champion = nba_champion.loc[nba_champion["Year"] == 1993.0]
nba_1993champion = nba_1993champion.loc[nba_1993champion["Tm"] == "CHI"]

In [12]:
combined3 = pd.merge(combined2, nba_1993champion, how='outer')

In [13]:
nba_1994champion = nba_champion.loc[nba_champion["Year"] == 1994.0]
nba_1994champion = nba_1994champion.loc[nba_1994champion["Tm"] == "HOU"]

In [14]:
combined4 = pd.merge(combined3, nba_1994champion, how='outer')

In [15]:
nba_1995champion = nba_champion.loc[nba_champion["Year"] == 1995.0]
nba_1995champion = nba_1995champion.loc[nba_1995champion["Tm"] == "HOU"]

In [16]:
combined5 = pd.merge(combined4, nba_1995champion, how='outer')

In [17]:
nba_1996champion = nba_champion.loc[nba_champion["Year"] == 1996.0]
nba_1996champion = nba_1996champion.loc[nba_1996champion["Tm"] == "CHI"]

In [18]:
combined6 = pd.merge(combined5, nba_1996champion, how='outer')

In [19]:
nba_1997champion = nba_champion.loc[nba_champion["Year"] == 1997.0]
nba_1997champion = nba_1997champion.loc[nba_1997champion["Tm"] == "CHI"]

In [20]:
combined7 = pd.merge(combined6, nba_1997champion, how='outer')

In [21]:
nba_1998champion = nba_champion.loc[nba_champion["Year"] == 1998.0]
nba_1998champion = nba_1998champion.loc[nba_1998champion["Tm"] == "CHI"]

In [22]:
combined8 = pd.merge(combined7, nba_1998champion, how='outer')

In [23]:
nba_1999champion = nba_champion.loc[nba_champion["Year"] == 1999.0]
nba_1999champion = nba_1999champion.loc[nba_1999champion["Tm"] == "SAS"]

In [24]:
combined9 = pd.merge(combined8, nba_1999champion, how='outer')

In [25]:
nba_2000champion = nba_champion.loc[nba_champion["Year"] == 2000.0]
nba_2000champion = nba_2000champion.loc[nba_2000champion["Tm"] == "LAL"]

In [26]:
combined10 = pd.merge(combined9, nba_2000champion, how='outer')

In [27]:
nba_2001champion = nba_champion.loc[nba_champion["Year"] == 2001.0]
nba_2001champion = nba_2001champion.loc[nba_2001champion["Tm"] == "LAL"]

In [28]:
combined11 = pd.merge(combined10, nba_2001champion, how='outer')

In [29]:
nba_2002champion = nba_champion.loc[nba_champion["Year"] == 2002.0]
nba_2002champion = nba_2002champion.loc[nba_2002champion["Tm"] == "LAL"]

In [30]:
combined12 = pd.merge(combined11, nba_2002champion, how='outer')

In [31]:
nba_2003champion = nba_champion.loc[nba_champion["Year"] == 2003.0]
nba_2003champion = nba_2003champion.loc[nba_2003champion["Tm"] == "SAS"]

In [32]:
combined13 = pd.merge(combined12, nba_2003champion, how='outer')

In [33]:
nba_2004champion = nba_champion.loc[nba_champion["Year"] == 2004.0]
nba_2004champion = nba_2004champion.loc[nba_2004champion["Tm"] == "DET"]

In [34]:
combined14 = pd.merge(combined13, nba_2004champion, how='outer')

In [35]:
nba_2005champion = nba_champion.loc[nba_champion["Year"] == 2005.0]
nba_2005champion = nba_2005champion.loc[nba_2005champion["Tm"] == "SAS"]

In [36]:
combined15 = pd.merge(combined14, nba_2005champion, how='outer')

In [37]:
nba_2006champion = nba_champion.loc[nba_champion["Year"] == 2006.0]
nba_2006champion = nba_2006champion.loc[nba_2006champion["Tm"] == "MIA"]

In [38]:
combined16 = pd.merge(combined15, nba_2006champion, how='outer')

In [39]:
nba_2007champion = nba_champion.loc[nba_champion["Year"] == 2007.0]
nba_2007champion = nba_2007champion.loc[nba_2007champion["Tm"] == "SAS"]

In [40]:
combined17 = pd.merge(combined16, nba_2007champion, how='outer')

In [41]:
nba_2008champion = nba_champion.loc[nba_champion["Year"] == 2008.0]
nba_2008champion = nba_2008champion.loc[nba_2008champion["Tm"] == "BOS"]

In [42]:
combined18 = pd.merge(combined17, nba_2008champion, how='outer')

In [43]:
nba_2009champion = nba_champion.loc[nba_champion["Year"] == 2009.0]
nba_2009champion = nba_2009champion.loc[nba_2009champion["Tm"] == "LAL"]

In [44]:
combined19 = pd.merge(combined18, nba_2009champion, how='outer')

In [45]:
nba_2010champion = nba_champion.loc[nba_champion["Year"] == 2010.0]
nba_2010champion = nba_2010champion.loc[nba_2010champion["Tm"] == "LAL"]

In [46]:
combined20 = pd.merge(combined19, nba_2010champion, how='outer')

In [47]:
nba_2011champion = nba_champion.loc[nba_champion["Year"] == 2011.0]
nba_2011champion = nba_2011champion.loc[nba_2011champion["Tm"] == "DAL"]

In [48]:
combined21 = pd.merge(combined20, nba_2011champion, how='outer')

In [49]:
nba_2012champion = nba_champion.loc[nba_champion["Year"] == 2012.0]
nba_2012champion = nba_2012champion.loc[nba_2012champion["Tm"] == "MIA"]

In [50]:
combined22 = pd.merge(combined21, nba_2012champion, how='outer')

In [51]:
nba_2013champion = nba_champion.loc[nba_champion["Year"] == 2013.0]
nba_2013champion = nba_2013champion.loc[nba_2013champion["Tm"] == "MIA"]

In [52]:
combined23 = pd.merge(combined22, nba_2013champion, how='outer')

In [53]:
nba_2014champion = nba_champion.loc[nba_champion["Year"] == 2014.0]
nba_2014champion = nba_2014champion.loc[nba_2014champion["Tm"] == "SAS"]

In [54]:
combined24 = pd.merge(combined23, nba_2014champion, how='outer')

In [55]:
nba_2015champion = nba_champion.loc[nba_champion["Year"] == 2015.0]
nba_2015champion = nba_2015champion.loc[nba_2015champion["Tm"] == "GSW"]

In [56]:
combined25 = pd.merge(combined24, nba_2015champion, how='outer')

In [57]:
nba_2016champion = nba_champion.loc[nba_champion["Year"] == 2016.0]
nba_2016champion = nba_2016champion.loc[nba_2016champion["Tm"] == "CLE"]

In [58]:
combined26 = pd.merge(combined25, nba_2016champion, how='outer')

In [59]:
nba_2017champion = nba_champion.loc[nba_champion["Year"] == 2017.0]
nba_2017champion = nba_2017champion.loc[nba_2017champion["Tm"] == "GSW"]

In [60]:
combined27 = pd.merge(combined26, nba_2017champion, how='outer')

In [62]:
nba_2018champion = nba_champion.loc[nba_champion["Year"] == 2018.0]
nba_2018champion = nba_2018champion.loc[nba_2018champion["Tm"] == "GSW"]

In [63]:
combined28 = pd.merge(combined27, nba_2018champion, how='outer')

In [65]:
Playercount = combined28.groupby("college")
college = Playercount.nunique()["Player"]
college.sort_values(ascending=False)

college
University of California, Los Angeles      11
University of Arizona                       9
University of Florida                       9
University of North Carolina                9
University of Kansas                        8
University of Kentucky                      7
University of Texas at Austin               6
University of Connecticut                   5
Duke University                             5
Michigan State University                   5
Georgia Institute of Technology             5
University of Arkansas                      4
University of California                    4
University of Michigan                      4
University of Nevada, Las Vegas             4
University of Alabama                       3
Gonzaga University                          3
Providence College                          3
Oregon State University                     3
University of Iowa                          3
Oklahoma State University                   3
North Carolina State University             3
University of Louisville                    3
University of Memphis                       3
Xavier University                           3
Vanderbilt University                       3
University of Washington                    2
University of Utah                          2
Marquette University                        2
Washington State University                 2
                                           ..
University of New Mexico                    1
University of Oklahoma                      1
University of Rhode Island                  1
University of Southern Mississippi          1
University of Tennessee                     1
University of Texas at El Paso              1
University of Texas at San Antonio          1
University of Virginia                      1
University of Wisconsin                     1
University of Wyoming                       1
Virginia Union University                   1
University of Detroit Mercy                 1
University of Colorado                      1
University of Cincinnati                    1
Seton Hall University                       1
Nicholls State University                   1
Northeastern University                     1
Oral Roberts University                     1
Pennsylvania State University               1
Rice University                             1
Robert Morris University (IL)               1
Southern University and A&M College         1
University of California, Santa Barbara     1
Wichita State University                    1
Stanford University                         1
Texas Tech University                       1
Tulane University                           1
University of Arkansas at Little Rock       1
University of California, Irvine            1
Alabama A&M University                      1
Name: Player, Length: 113, dtype: int64

In [ ]:
cities = ["UCLA", "UNC", "Kentucky", "Cincinnati", "Ohio State University"]
college_count = [5.0, 5.0, 5.0, 5.0, 4.0]
x_axis = np.arange(len(college_count))

In [ ]:
plt.bar(x_axis, college_count, color="b", align="center")

In [ ]:
tick_locations = [value for value in x_axis]
plt.xticks(tick_locations, cities)

In [ ]:
plt.xlim(-0.75, len(x_axis)-0.25)

In [ ]:
plt.ylim(0, max(college_count)+0.4)

In [ ]:
plt.title("College Champions Representation")
plt.xlabel("Cities")
plt.ylabel("College Count")

In [ ]:
plt.show()