In [4]:
%matplotlib notebook
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [5]:
nba_seasondata = "Data/Seasons_Stats.csv"
nba_player = "Data/player_data.csv"

nba_data1 = pd.read_csv(nba_seasondata)
nba_data2 = pd.read_csv(nba_player)

In [6]:
nba_data2.head()
nba_data2 = nba_data2.rename(columns = {"name":"Player"})

In [7]:
nba_dataset = pd.merge(nba_data1, nba_data2, how='left',on='Player')
nba_dataset.head()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,TOV,PF,PTS,year_start,year_end,position,height,weight,birth_date,college
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,NaN,217.0,458.0,1949.0,1951.0,G-F,5-11,170.0,"November 1, 1918",Indiana University
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,NaN,99.0,279.0,1950.0,1952.0,G,6-2,185.0,"January 15, 1921",University of Kentucky
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,NaN,192.0,438.0,1950.0,1954.0,F-G,6-4,190.0,"May 11, 1924",University of Notre Dame
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,NaN,29.0,63.0,1950.0,1951.0,F,6-5,195.0,"October 8, 1925",North Carolina State University
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,NaN,27.0,59.0,1950.0,1951.0,F,6-5,195.0,"October 8, 1925",North Carolina State University

In [24]:
nba_college = nba_dataset[["Year", "Player", "Tm", "Age", "Pos", "college"]]
nba_college

,Year,Player,Tm,Age,Pos,college
0,1950.0,Curly Armstrong,FTW,31.0,G-F,Indiana University
1,1950.0,Cliff Barker,INO,29.0,SG,University of Kentucky
2,1950.0,Leo Barnhorst,CHS,25.0,SF,University of Notre Dame
3,1950.0,Ed Bartels,TOT,24.0,F,North Carolina State University
4,1950.0,Ed Bartels,DNN,24.0,F,North Carolina State University
5,1950.0,Ed Bartels,NYK,24.0,F,North Carolina State University
6,1950.0,Ralph Beard,INO,22.0,G,University of Kentucky
7,1950.0,Gene Berce,TRI,23.0,G-F,Marquette University
8,1950.0,Charlie Black,TOT,28.0,F-C,University of Kansas
9,1950.0,Charlie Black,FTW,28.0,F-C,University of Kansas
10,1950.0,Charlie Black,AND,28.0,F-C,University of Kansas
11,1950.0,Nelson Bobb,PHW,25.0,PG,Temple University
12,1950.0,Jake Bornheimer,PHW,22.0,F-C,Muhlenberg College
13,1950.0,Vince Boryla,NYK,22.0,SF,University of Denver
14,1950.0,Don Boven,WAT,24.0,F-G,Western Michigan University
15,1950.0,Harry Boykoff,WAT,27.0,C,St. John's University
16,1950.0,Joe Bradley,CHS,21.0,G,Oklahoma State University
17,1950.0,Bob Brannum,SHE,24.0,PF,Michigan State University
18,1950.0,Carl Braun,NYK,22.0,G-F,Colgate University
19,1950.0,Frankie Brian,AND,26.0,G,Louisiana State University
20,1950.0,Price Brookfield,ROC,29.0,F-G,West Texas A&M University
21,1950.0,Bob Brown,DNN,26.0,F,Miami University
22,1950.0,Jim Browne,DNN,20.0,C,NaN
23,1950.0,Walt Budko,BLB,24.0,PF,Columbia University
24,1950.0,Jack Burmaster,SHE,23.0,G,University of Illinois at Urbana-Champaign
25,1950.0,Tommy Byrnes,BLB,26.0,F-G,Seton Hall University
26,1950.0,Bill Calhoun,ROC,22.0,SG,City College of San Francisco
27,1950.0,Don Carlson,MNL,30.0,G-F,University of Minnesota
28,1950.0,Bob Carpenter,FTW,32.0,F-C,East Texas State University
29,1950.0,Jake Carter,TOT,25.0,F-C,East Texas State University
...,...,...,...,...,...,...
25267,2017.0,Deron Williams,DAL,32.0,PG,University of Illinois at Urbana-Champaign
25268,2017.0,Deron Williams,CLE,32.0,PG,University of Illinois at Urbana-Champaign
25269,2017.0,Derrick Williams,TOT,25.0,PF,University of Arizona
25270,2017.0,Derrick Williams,MIA,25.0,PF,University of Arizona
25271,2017.0,Derrick Williams,CLE,25.0,PF,University of Arizona
25272,2017.0,Lou Williams,TOT,30.0,SG,NaN
25273,2017.0,Lou Williams,LAL,30.0,SG,NaN
25274,2017.0,Lou Williams,HOU,30.0,SG,NaN
25275,2017.0,Marvin Williams,CHO,30.0,PF,University of North Carolina
25276,2017.0,Reggie Williams,NOP,30.0,SF,Georgetown University
25277,2017.0,Reggie Williams,NOP,30.0,SF,Virginia Military Institute
25278,2017.0,Troy Williams,TOT,22.0,SF,Indiana University
25279,2017.0,Troy Williams,MEM,22.0,SF,Indiana University
25280,2017.0,Troy Williams,HOU,22.0,SF,Indiana University
25281,2017.0,Kyle Wiltjer,HOU,24.0,PF,Gonzaga University
25282,2017.0,Justise Winslow,MIA,20.0,SF,Duke University
25283,2017.0,Jeff Withey,UTA,26.0,C,University of Kansas
25284,2017.0,Christian Wood,CHO,21.0,PF,"University of Nevada, Las Vegas"
25285,2017.0,Metta World,LAL,37.0,SF,NaN
25286,2017.0,Brandan Wright,MEM,29.0,PF,University of North Carolina
25287,2017.0,Delon Wright,TOR,24.0,PG,University of Utah
25288,2017.0,James Young,BOS,21.0,SG,University of Kentucky
25289,2017.0,Joe Young,IND,24.0,PG,University of Oregon
25290,2017.0,Nick Young,LAL,31.0,SG,University of Southern California
25291,2017.0,Thaddeus Young,IND,28.0,PF,Georgia Institute of Technology
25292,2017.0,Cody Zeller,CHO,24.0,PF,Indiana University
25293,2017.0,Tyler Zeller,BOS,27.0,C,University of North Carolina
25294,2017.0,Stephen Zimmerman,ORL,20.0,C,"University of Nevada, Las Vegas"
25295,2017.0,Paul Zipser,CHI,22.0,SF,NaN
25296,2017.0,Ivica Zubac,LAL,19.0,C,NaN

In [54]:
nba_year = nba_college.loc[(nba_college["Year"]>= 2001)&(nba_college["Year"]<2019),:].copy()
#["Year","Tm"]
nba_year.head()

,Year,Player,Tm,Age,Pos,college
15406,2001.0,Mahmoud Abdul-Rauf,VAN,31.0,PG,Louisiana State University
15407,2001.0,Tariq Abdul-Wahad,DEN,26.0,SG,San Jose State University
15408,2001.0,Shareef Abdur-Rahim,VAN,24.0,SF,University of California
15409,2001.0,Cory Alexander,ORL,27.0,PG,University of Virginia
15410,2001.0,Courtney Alexander,TOT,23.0,PG,"California State University, Fresno"

In [58]:
nba_year["Tm"].unique()

array(['VAN', 'DEN', 'ORL', 'TOT', 'DAL', 'WAS', 'MIL', 'SAS', 'BOS',
       'SAC', 'HOU', 'POR', 'DET', 'MIN', 'CHI', 'SEA', 'PHI', 'IND',
       'UTA', 'GSW', 'PHO', 'TOR', 'CLE', 'ATL', 'MIA', 'LAC', 'CHH',
       'NYK', 'LAL', 'NJN', 'MEM', 'NOH', 'CHA', 'NOK', 'OKC', 'BRK',
       'NOP', 'CHO'], dtype=object)