In [1]:
%matplotlib notebook
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
nba_seasondata = "Data/Seasons_Stats.csv"
nba_player = "Data/player_data.csv"

nba_data1 = pd.read_csv(nba_seasondata)
nba_data2 = pd.read_csv(nba_player)

In [3]:
nba_data2.head()
nba_data2 = nba_data2.rename(columns = {"name":"Player"})

In [5]:
nba_dataset = pd.merge(nba_data1, nba_data2, how='left',on='Player')
nba_dataset.head()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,TOV,PF,PTS,year_start,year_end,position,height,weight,birth_date,college
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,NaN,217.0,458.0,1949.0,1951.0,G-F,5-11,170.0,"November 1, 1918",Indiana University
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,NaN,99.0,279.0,1950.0,1952.0,G,6-2,185.0,"January 15, 1921",University of Kentucky
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,NaN,192.0,438.0,1950.0,1954.0,F-G,6-4,190.0,"May 11, 1924",University of Notre Dame
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,NaN,29.0,63.0,1950.0,1951.0,F,6-5,195.0,"October 8, 1925",North Carolina State University
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,NaN,27.0,59.0,1950.0,1951.0,F,6-5,195.0,"October 8, 1925",North Carolina State University

In [26]:
nba_college = nba_dataset[["Year", "Player", "Tm", "Age", "Pos", "college"]]
nba_college.head()

     Year           Player   Tm   Age  Pos                          college
0  1950.0  Curly Armstrong  FTW  31.0  G-F               Indiana University
1  1950.0     Cliff Barker  INO  29.0   SG           University of Kentucky
2  1950.0    Leo Barnhorst  CHS  25.0   SF         University of Notre Dame
3  1950.0       Ed Bartels  TOT  24.0    F  North Carolina State University
4  1950.0       Ed Bartels  DNN  24.0    F  North Carolina State University

In [24]:
nba_1950college = nba_college.loc[nba_college["Year"] == 1950.0]
nba_1950college = nba_1950college.loc[nba_1950college["Tm"] == "MNL"]
nba_1950college

       Year           Player   Tm   Age  Pos                      college
27   1950.0      Don Carlson  MNL  30.0  G-F      University of Minnesota
66   1950.0     Arnie Ferrin  MNL  24.0  F-G           University of Utah
79   1950.0     Normie Glick  MNL  22.0    F  Loyola Marymount University
82   1950.0        Bud Grant  MNL  22.0    F      University of Minnesota
95   1950.0     Bob Harrison  MNL  22.0    G       University of Michigan
98   1950.0    Billy Hassett  MNL  28.0    G     University of Notre Dame
111  1950.0       Tony Jaros  MNL  29.0  F-G      University of Minnesota
160  1950.0   Slater Martin*  MNL  24.0   PG                          NaN
175  1950.0    George Mikan*  MNL  25.0    C                          NaN
176  1950.0  Vern Mikkelsen*  MNL  21.0   PF                          NaN
233  1950.0     Jim Pollard*  MNL  27.0   SF                          NaN
252  1950.0    Herm Schaefer  MNL  31.0  G-F           Indiana University
284  1950.0       Gene Stump  MNL  26.0  F-G            DePaul University
308  1950.0     Paul Walther  MNL  22.0   SG      University of Tennessee