In [2]:
%matplotlib notebook
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
nba_seasondata = "Data/Seasons_Stats.csv"
nba_player = "Data/player_data.csv"

nba_data1 = pd.read_csv(nba_seasondata)
nba_data2 = pd.read_csv(nba_player)

In [4]:
nba_data2.head()
nba_data2 = nba_data2.rename(columns = {"name":"Player"})

In [5]:
nba_dataset = pd.merge(nba_data1, nba_data2, how='left',on='Player')
nba_dataset.head()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,TOV,PF,PTS,year_start,year_end,position,height,weight,birth_date,college
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,NaN,217.0,458.0,1949.0,1951.0,G-F,5-11,170.0,"November 1, 1918",Indiana University
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,NaN,99.0,279.0,1950.0,1952.0,G,6-2,185.0,"January 15, 1921",University of Kentucky
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,NaN,192.0,438.0,1950.0,1954.0,F-G,6-4,190.0,"May 11, 1924",University of Notre Dame
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,NaN,29.0,63.0,1950.0,1951.0,F,6-5,195.0,"October 8, 1925",North Carolina State University
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,NaN,27.0,59.0,1950.0,1951.0,F,6-5,195.0,"October 8, 1925",North Carolina State University

In [6]:
nba_champion = nba_dataset[["Year", "Player", "Tm", "Age", "Pos", "college"]]
nba_champion.head()

     Year           Player   Tm   Age  Pos                          college
0  1950.0  Curly Armstrong  FTW  31.0  G-F               Indiana University
1  1950.0     Cliff Barker  INO  29.0   SG           University of Kentucky
2  1950.0    Leo Barnhorst  CHS  25.0   SF         University of Notre Dame
3  1950.0       Ed Bartels  TOT  24.0    F  North Carolina State University
4  1950.0       Ed Bartels  DNN  24.0    F  North Carolina State University

In [10]:
nba_1950champion = nba_champion.loc[nba_champion["Year"] == 1950.0]
nba_1950champion = nba_1950champion.loc[nba_1950champion["Tm"] == "MNL"]
nba_1950champion

       Year           Player   Tm   Age  Pos                      college
27   1950.0      Don Carlson  MNL  30.0  G-F      University of Minnesota
66   1950.0     Arnie Ferrin  MNL  24.0  F-G           University of Utah
79   1950.0     Normie Glick  MNL  22.0    F  Loyola Marymount University
82   1950.0        Bud Grant  MNL  22.0    F      University of Minnesota
95   1950.0     Bob Harrison  MNL  22.0    G       University of Michigan
98   1950.0    Billy Hassett  MNL  28.0    G     University of Notre Dame
111  1950.0       Tony Jaros  MNL  29.0  F-G      University of Minnesota
160  1950.0   Slater Martin*  MNL  24.0   PG                          NaN
175  1950.0    George Mikan*  MNL  25.0    C                          NaN
176  1950.0  Vern Mikkelsen*  MNL  21.0   PF                          NaN
233  1950.0     Jim Pollard*  MNL  27.0   SF                          NaN
252  1950.0    Herm Schaefer  MNL  31.0  G-F           Indiana University
284  1950.0       Gene Stump  MNL  26.0  F-G            DePaul University
308  1950.0     Paul Walther  MNL  22.0   SG      University of Tennessee

In [12]:
nba_1951champion = nba_champion.loc[nba_champion["Year"] == 1951.0]
nba_1951champion = nba_1951champion.loc[nba_1951champion["Tm"] == "ROC"]
nba_1951champion

       Year         Player   Tm   Age Pos                        college
340  1951.0   Bill Calhoun  ROC  23.0  SG  City College of San Francisco
350  1951.0   Jack Coleman  ROC  26.0  PF       University of Louisville
356  1951.0    Bob Davies*  ROC  31.0  PG                            NaN
388  1951.0   Red Holzman*  ROC  30.0  PG                            NaN
394  1951.0  Arnie Johnson  ROC  30.0  SF       Bemidji State University
425  1951.0    Joe McNamee  ROC  24.0  SF    University of San Francisco
437  1951.0      Paul Noel  ROC  26.0   F         University of Kentucky
459  1951.0   Arnie Risen*  ROC  26.0   C                            NaN
465  1951.0       Pep Saul  ROC  26.0  SG          Seton Hall University
488  1951.0  Bobby Wanzer*  ROC  29.0   G                            NaN

In [13]:
nba_1952champion = nba_champion.loc[nba_champion["Year"] == 1952.0]
nba_1952champion = nba_1952champion.loc[nba_1952champion["Tm"] == "MNL"]
nba_1952champion

       Year           Player   Tm   Age Pos                  college
537  1952.0     Bob Harrison  MNL  24.0  SG   University of Michigan
538  1952.0        Lew Hitch  MNL  22.0  PF  Kansas State University
542  1952.0       Joe Hutton  MNL  23.0  SG       Hamline University
559  1952.0   Slater Martin*  MNL  26.0  PG                      NaN
568  1952.0    George Mikan*  MNL  27.0   C                      NaN
569  1952.0  Vern Mikkelsen*  MNL  23.0  PF                      NaN
585  1952.0       John Pilch  MNL  26.0   F    University of Wyoming
586  1952.0     Jim Pollard*  MNL  29.0  SF                      NaN
601  1952.0    Howie Schultz  MNL  29.0  PF       Hamline University
609  1952.0     Whitey Skoog  MNL  25.0  SG  University of Minnesota

In [14]:
nba_1953champion = nba_champion.loc[nba_champion["Year"] == 1953.0]
nba_1953champion = nba_1953champion.loc[nba_1953champion["Tm"] == "MNL"]
nba_1953champion

       Year           Player   Tm   Age Pos                   college
670  1953.0     Bob Harrison  MNL  25.0  SG    University of Michigan
675  1953.0        Lew Hitch  MNL  23.0  PF   Kansas State University
677  1953.0     Jim Holstein  MNL  22.0  SF  University of Cincinnati
704  1953.0   Slater Martin*  MNL  27.0  PG                       NaN
719  1953.0    George Mikan*  MNL  28.0   C                       NaN
720  1953.0  Vern Mikkelsen*  MNL  24.0  PF                       NaN
744  1953.0     Jim Pollard*  MNL  30.0  SF                       NaN
758  1953.0         Pep Saul  MNL  28.0  SG     Seton Hall University
761  1953.0    Howie Schultz  MNL  30.0  PF        Hamline University
770  1953.0     Whitey Skoog  MNL  26.0  SG   University of Minnesota

In [15]:
nba_1954champion = nba_champion.loc[nba_champion["Year"] == 1954.0]
nba_1954champion = nba_1954champion.loc[nba_1954champion["Tm"] == "MNL"]
nba_1954champion

       Year             Player   Tm   Age Pos                   college
811  1954.0       Jim Fritsche  MNL  22.0  PF        Hamline University
824  1954.0       Bob Harrison  MNL  26.0   G    University of Michigan
828  1954.0       Jim Holstein  MNL  23.0  SF  University of Cincinnati
843  1954.0  Clyde Lovellette*  MNL  24.0   C                       NaN
847  1954.0     Slater Martin*  MNL  28.0  PG                       NaN
856  1954.0      George Mikan*  MNL  29.0   C                       NaN
857  1954.0    Vern Mikkelsen*  MNL  25.0  PF                       NaN
871  1954.0       Jim Pollard*  MNL  31.0  SF                       NaN
877  1954.0           Pep Saul  MNL  29.0  SG     Seton Hall University
882  1954.0    Dick Schnittker  MNL  25.0  SF     Ohio State University
892  1954.0       Whitey Skoog  MNL  27.0  SG   University of Minnesota

In [16]:
nba_1955champion = nba_champion.loc[nba_champion["Year"] == 1955.0]
nba_1955champion = nba_1955champion.loc[nba_1955champion["Tm"] == "SYR"]
nba_1955champion

,Year,Player,Tm,Age,Pos,college
937,1955.0,Dick Farley,SYR,22.0,SG,Indiana University
942,1955.0,Bill Gabor,SYR,32.0,SG,Syracuse University
962,1955.0,Billy Kenville,SYR,24.0,SG,St. Bonaventure University
963,1955.0,Red Kerr,SYR,22.0,C,University of Illinois at Urbana-Champaign
965,1955.0,George King,SYR,26.0,PG,University of Charleston
967,1955.0,Earl Lloyd*,SYR,26.0,SF,NaN
987,1955.0,Wally Osterkorn,SYR,26.0,SF,University of Illinois at Urbana-Champaign
996,1955.0,Red Rocha,SYR,31.0,C,Oregon State University
1000,1955.0,Dolph Schayes*,SYR,26.0,PF,NaN
1004,1955.0,Paul Seymour,SYR,27.0,SG,University of Toledo
1015,1955.0,Jim Tucker,SYR,22.0,PF,Duquesne University

In [17]:
nba_1956champion = nba_champion.loc[nba_champion["Year"] == 1956.0]
nba_1956champion = nba_1956champion.loc[nba_1956champion["Tm"] == "PHW"]
nba_1956champion

        Year          Player   Tm   Age Pos                     college
1026  1956.0    Paul Arizin*  PHW  27.0  SF                         NaN
1031  1956.0      Ernie Beck  PHW  24.0  SG  University of Pennsylvania
1045  1956.0      Walt Davis  PHW  25.0  PF        Texas A&M University
1046  1956.0  George Dempsey  PHW  26.0  PG              King's College
1057  1956.0     Jack George  PHW  27.0  PG         La Salle University
1058  1956.0       Tom Gola*  PHW  23.0  SG                         NaN
1059  1956.0    Joe Graboski  PHW  26.0  PF                         NaN
1066  1956.0  Larry Hennessy  PHW  26.0  SG        Villanova University
1074  1956.0  Neil Johnston*  PHW  26.0   C                         NaN
1092  1956.0    Jackie Moore  PHW  23.0  SF         La Salle University
1109  1956.0     Bob Schafer  PHW   NaN  SG        Villanova University

In [18]:
nba_1957champion = nba_champion.loc[nba_champion["Year"] == 1957.0]
nba_1957champion = nba_1957champion.loc[nba_1957champion["Tm"] == "BOS"]
nba_1957champion

        Year            Player   Tm   Age Pos                    college
1148  1957.0        Bob Cousy*  BOS  28.0  PG                        NaN
1165  1957.0     Tom Heinsohn*  BOS  22.0  PF                        NaN
1166  1957.0       Dick Hemric  BOS  23.0  PF     Wake Forest University
1183  1957.0     Jim Loscutoff  BOS  26.0  SF       University of Oregon
1199  1957.0      Jack Nichols  BOS  30.0  PF   University of Washington
1202  1957.0      Togo Palazzi  BOS  24.0  SF  College of the Holy Cross
1208  1957.0     Andy Phillip*  BOS  34.0  PG                        NaN
1210  1957.0     Frank Ramsey*  BOS  25.0  SG                        NaN
1214  1957.0      Arnie Risen*  BOS  32.0   C                        NaN
1217  1957.0     Bill Russell*  BOS  22.0   C                        NaN
1225  1957.0     Bill Sharman*  BOS  30.0  SG                        NaN
1235  1957.0  Lou Tsioropoulos  BOS  26.0  SF     University of Kentucky

In [19]:
nba_1958champion = nba_champion.loc[nba_champion["Year"] == 1958.0]
nba_1958champion = nba_1958champion.loc[nba_1958champion["Tm"] == "STL"]
nba_1958champion

        Year            Player   Tm   Age  Pos                         college
1251  1958.0      Jack Coleman  STL  33.0   PF        University of Louisville
1257  1958.0        Walt Davis  STL  27.0   PF            Texas A&M University
1275  1958.0      Cliff Hagan*  STL  26.0   SF                             NaN
1299  1958.0      Ed Macauley*  STL  29.0    C                             NaN
1303  1958.0    Slater Martin*  STL  32.0   PG                             NaN
1306  1958.0      Jack McMahon  STL  29.0   SG           St. John's University
1309  1958.0      Red Morrison  STL  25.0    C             University of Idaho
1314  1958.0          Med Park  STL  24.0   SG          University of Missouri
1315  1958.0  Worthy Patterson  STL  26.0    G       University of Connecticut
1319  1958.0       Bob Pettit*  STL  25.0   PF                             NaN
1334  1958.0       Frank Selvy  STL  25.0  G-F               Furman University
1337  1958.0       Chuck Share  STL  30.0    C  Bowling Green State University
1352  1958.0       Win Wilfong  STL  24.0   PG           University of Memphis

In [20]:
nba_1959champion = nba_champion.loc[nba_champion["Year"] == 1959.0]
nba_1959champion = nba_1959champion.loc[nba_1959champion["Tm"] == "BOS"]
nba_1959champion

        Year            Player   Tm   Age Pos                      college
1364  1959.0       Gene Conley  BOS  28.0  PF  Washington State University
1369  1959.0        Bob Cousy*  BOS  30.0  PG                          NaN
1401  1959.0     Tom Heinsohn*  BOS  24.0  PF                          NaN
1407  1959.0       K.C. Jones*  BOS  26.0  PG                          NaN
1408  1959.0        Sam Jones*  BOS  25.0  SF                          NaN
1415  1959.0     Jim Loscutoff  BOS  28.0  SF         University of Oregon
1436  1959.0     Frank Ramsey*  BOS  27.0  SG                          NaN
1443  1959.0     Bill Russell*  BOS  24.0   C                          NaN
1450  1959.0     Bill Sharman*  BOS  32.0  SG                          NaN
1457  1959.0      Bennie Swain  BOS  25.0  PF    Texas Southern University
1458  1959.0  Lou Tsioropoulos  BOS  28.0  SF       University of Kentucky

In [21]:
nba_1960champion = nba_champion.loc[nba_champion["Year"] == 1960.0]
nba_1960champion = nba_1960champion.loc[nba_1960champion["Tm"] == "BOS"]
nba_1960champion

        Year         Player   Tm   Age Pos                          college
1480  1960.0    Gene Conley  BOS  29.0  PF      Washington State University
1483  1960.0     Bob Cousy*  BOS  31.0  PG                              NaN
1507  1960.0  Gene Guarilia  BOS  22.0  SF     George Washington University
1513  1960.0  Tom Heinsohn*  BOS  25.0  PF                              NaN
1518  1960.0    K.C. Jones*  BOS  27.0  PG                              NaN
1519  1960.0     Sam Jones*  BOS  26.0  SF                              NaN
1523  1960.0     Maury King  BOS  24.0  PG             University of Kansas
1528  1960.0  Jim Loscutoff  BOS  29.0  SF             University of Oregon
1551  1960.0  Frank Ramsey*  BOS  28.0  SG                              NaN
1556  1960.0   John Richter  BOS  22.0   C  North Carolina State University
1560  1960.0  Bill Russell*  BOS  25.0   C                              NaN
1569  1960.0  Bill Sharman*  BOS  33.0  SG                              NaN

In [22]:
nba_1961champion = nba_champion.loc[nba_champion["Year"] == 1961.0]
nba_1961champion = nba_1961champion.loc[nba_1961champion["Tm"] == "BOS"]
nba_1961champion

        Year         Player   Tm   Age Pos                       college
1600  1961.0    Gene Conley  BOS  30.0  PF   Washington State University
1603  1961.0     Bob Cousy*  BOS  32.0  PG                           NaN
1623  1961.0  Gene Guarilia  BOS  23.0  SF  George Washington University
1629  1961.0  Tom Heinsohn*  BOS  26.0  PF                           NaN
1638  1961.0    K.C. Jones*  BOS  28.0  PG                           NaN
1639  1961.0     Sam Jones*  BOS  27.0  SG                           NaN
1651  1961.0  Jim Loscutoff  BOS  30.0  SF          University of Oregon
1664  1961.0  Frank Ramsey*  BOS  29.0  SG                           NaN
1674  1961.0  Bill Russell*  BOS  26.0   C                           NaN
1675  1961.0   Tom Sanders*  BOS  22.0  SF                           NaN
1680  1961.0  Bill Sharman*  BOS  34.0  SG                           NaN

In [23]:
nba_1962champion = nba_champion.loc[nba_champion["Year"] == 1962.0]
nba_1962champion = nba_1962champion.loc[nba_1962champion["Tm"] == "BOS"]
nba_1962champion

        Year         Player   Tm   Age Pos                       college
1699  1962.0     Carl Braun  BOS  34.0  PG            Colgate University
1706  1962.0      Al Butler  BOS  23.0  PG            Niagara University
1715  1962.0     Bob Cousy*  BOS  33.0  PG                           NaN
1733  1962.0  Gene Guarilia  BOS  24.0  SF  George Washington University
1739  1962.0  Tom Heinsohn*  BOS  27.0  PF                           NaN
1747  1962.0    K.C. Jones*  BOS  29.0  PG                           NaN
1748  1962.0     Sam Jones*  BOS  28.0  SG                           NaN
1761  1962.0  Jim Loscutoff  BOS  31.0  SF          University of Oregon
1781  1962.0  Gary Phillips  BOS  22.0  PG         University of Houston
1784  1962.0  Frank Ramsey*  BOS  30.0  SG                           NaN
1790  1962.0  Bill Russell*  BOS  27.0   C                           NaN
1791  1962.0   Tom Sanders*  BOS  23.0  SF                           NaN

In [24]:
nba_1963champion = nba_champion.loc[nba_champion["Year"] == 1963.0]
nba_1963champion = nba_1963champion.loc[nba_1963champion["Tm"] == "BOS"]
nba_1963champion

        Year             Player   Tm   Age Pos                       college
1838  1963.0         Bob Cousy*  BOS  34.0  PG                           NaN
1854  1963.0         Jack Foley  BOS  23.0   F     College of the Holy Cross
1863  1963.0      Gene Guarilia  BOS  25.0  SF  George Washington University
1868  1963.0     John Havlicek*  BOS  22.0  SF                           NaN
1870  1963.0      Tom Heinsohn*  BOS  28.0  PF                           NaN
1878  1963.0        K.C. Jones*  BOS  30.0  PG                           NaN
1879  1963.0         Sam Jones*  BOS  29.0  SG                           NaN
1889  1963.0      Jim Loscutoff  BOS  32.0  SF          University of Oregon
1891  1963.0  Clyde Lovellette*  BOS  33.0   C                           NaN
1915  1963.0      Frank Ramsey*  BOS  31.0  SG                           NaN
1921  1963.0      Bill Russell*  BOS  28.0   C                           NaN
1922  1963.0       Tom Sanders*  BOS  24.0  SF                           NaN
1938  1963.0         Dan Swartz  BOS  28.0  SF     Morehead State University

In [25]:
nba_1964champion = nba_champion.loc[nba_champion["Year"] == 1964.0]
nba_1964champion = nba_1964champion.loc[nba_1964champion["Tm"] == "BOS"]
nba_1964champion

,Year,Player,Tm,Age,Pos,college
2009,1964.0,John Havlicek*,BOS,23.0,SF,NaN
2011,1964.0,Tom Heinsohn*,BOS,29.0,PF,NaN
2022,1964.0,K.C. Jones*,BOS,31.0,PG,NaN
2023,1964.0,Sam Jones*,BOS,30.0,SG,NaN
2031,1964.0,Jim Loscutoff,BOS,33.0,SF,University of Oregon
2035,1964.0,Clyde Lovellette*,BOS,34.0,C,NaN
2037,1964.0,Johnny McCarthy,BOS,29.0,PG,Canisius College
2044,1964.0,Willie Naulls,BOS,29.0,SF,"University of California, Los Angeles"
2055,1964.0,Frank Ramsey*,BOS,32.0,SG,NaN
2061,1964.0,Bill Russell*,BOS,29.0,C,NaN
2062,1964.0,Tom Sanders*,BOS,25.0,PF,NaN
2069,1964.0,Larry Siegfried,BOS,24.0,SG,Ohio State University

In [26]:
nba_1965champion = nba_champion.loc[nba_champion["Year"] == 1965.0]
nba_1965champion = nba_1965champion.loc[nba_1965champion["Tm"] == "BOS"]
nba_1965champion

,Year,Player,Tm,Age,Pos,college
2101,1965.0,Ron Bonham,BOS,22.0,SF,University of Cincinnati
2116,1965.0,Mel Counts,BOS,23.0,C,Oregon State University
2142,1965.0,John Havlicek*,BOS,24.0,SG,NaN
2145,1965.0,Tom Heinsohn*,BOS,30.0,SF,NaN
2160,1965.0,K.C. Jones*,BOS,32.0,PG,NaN
2162,1965.0,Sam Jones*,BOS,31.0,SG,NaN
2188,1965.0,Willie Naulls,BOS,30.0,SF,"University of California, Los Angeles"
2193,1965.0,Bevo Nordmann,BOS,25.0,C,Saint Louis University
2205,1965.0,Bill Russell*,BOS,30.0,C,NaN
2206,1965.0,Tom Sanders*,BOS,26.0,PF,NaN
2208,1965.0,Larry Siegfried,BOS,25.0,SG,Ohio State University
2212,1965.0,John Thompson*,BOS,23.0,PF,NaN
2219,1965.0,Gerry Ward,BOS,23.0,SG,Boston College

In [27]:
nba_1966champion = nba_champion.loc[nba_champion["Year"] == 1966.0]
nba_1966champion = nba_1966champion.loc[nba_1966champion["Tm"] == "BOS"]
nba_1966champion

,Year,Player,Tm,Age,Pos,college
2242,1966.0,Ron Bonham,BOS,23.0,SG,University of Cincinnati
2256,1966.0,Mel Counts,BOS,24.0,C,Oregon State University
2276,1966.0,Si Green,BOS,32.0,G-F,Duquesne University
2281,1966.0,John Havlicek*,BOS,25.0,SF,NaN
2294,1966.0,K.C. Jones*,BOS,33.0,PG,NaN
2295,1966.0,Sam Jones*,BOS,32.0,SG,NaN
2310,1966.0,Willie Naulls,BOS,31.0,SF,"University of California, Los Angeles"
2311,1966.0,Don Nelson*,BOS,25.0,SF,NaN
2322,1966.0,Bill Russell*,BOS,31.0,C,NaN
2323,1966.0,Tom Sanders*,BOS,27.0,PF,NaN
2324,1966.0,Woody Sauldsberry,BOS,31.0,PF,Texas Southern University
2326,1966.0,Larry Siegfried,BOS,26.0,PG,Ohio State University
2334,1966.0,John Thompson*,BOS,24.0,C,NaN
2356,1966.0,Ron Watts,BOS,22.0,F,Wake Forest University

In [28]:
nba_1967champion = nba_champion.loc[nba_champion["Year"] == 1967.0]
nba_1967champion = nba_1967champion.loc[nba_1967champion["Tm"] == "PHI"]
nba_1967champion

,Year,Player,Tm,Age,Pos,college
2381,1967.0,Wilt Chamberlain*,PHI,30.0,C,NaN
2388,1967.0,Larry Costello,PHI,35.0,PG,Niagara University
2393,1967.0,Billy Cunningham*,PHI,23.0,SF,NaN
2404,1967.0,Dave Gambee,PHI,29.0,SF,Oregon State University
2407,1967.0,Hal Greer*,PHI,30.0,SG,NaN
2409,1967.0,Matt Guokas,PHI,22.0,SG,Saint Joseph's University
2410,1967.0,Matt Guokas,PHI,22.0,SG,Saint Joseph's University
2425,1967.0,Luke Jackson,PHI,25.0,PF,University of Texas-Pan American
2426,1967.0,Luke Jackson,PHI,25.0,PF,University of Oregon
2431,1967.0,Wali Jones,PHI,24.0,PG,Villanova University
2448,1967.0,Bill Melchionni,PHI,22.0,PG,Villanova University
2485,1967.0,Chet Walker*,PHI,26.0,SF,NaN
2492,1967.0,Bob Weiss,PHI,24.0,PG,Pennsylvania State University

In [29]:
nba_1968champion = nba_champion.loc[nba_champion["Year"] == 1968.0]
nba_1968champion = nba_1968champion.loc[nba_1968champion["Tm"] == "BOS"]
nba_1968champion

,Year,Player,Tm,Age,Pos,college
2546,1968.0,Wayne Embry*,BOS,30.0,C,NaN
2557,1968.0,Mal Graham,BOS,22.0,PG,New York University
2571,1968.0,John Havlicek*,BOS,27.0,SG,NaN
2575,1968.0,Bailey Howell*,BOS,31.0,PF,NaN
2584,1968.0,Johnny Jones,BOS,24.0,SF,"California State University, Los Angeles"
2586,1968.0,Sam Jones*,BOS,34.0,PG,NaN
2619,1968.0,Don Nelson*,BOS,27.0,SF,NaN
2636,1968.0,Bill Russell*,BOS,33.0,C,NaN
2638,1968.0,Tom Sanders*,BOS,29.0,SF,NaN
2641,1968.0,Larry Siegfried,BOS,28.0,PG,Ohio State University
2648,1968.0,Tom Thacker,BOS,28.0,SG,University of Cincinnati
2667,1968.0,Rick Weitzman,BOS,21.0,SG,Northeastern University

In [30]:
nba_1969champion = nba_champion.loc[nba_champion["Year"] == 1969.0]
nba_1969champion = nba_1969champion.loc[nba_1969champion["Tm"] == "BOS"]
nba_1969champion

        Year           Player   Tm   Age Pos                         college
2690  1969.0       Jim Barnes  BOS  27.0   C  University of Texas at El Paso
2707  1969.0        Em Bryant  BOS  30.0  PG               DePaul University
2711  1969.0       Don Chaney  BOS  22.0  SG           University of Houston
2744  1969.0       Mal Graham  BOS  23.0  PG             New York University
2758  1969.0   John Havlicek*  BOS  28.0  SG                             NaN
2767  1969.0   Bailey Howell*  BOS  32.0  PF                             NaN
2775  1969.0     Rich Johnson  BOS  22.0   C      Grambling State University
2776  1969.0       Sam Jones*  BOS  35.0  SG                             NaN
2818  1969.0      Don Nelson*  BOS  28.0  SF                             NaN
2825  1969.0        Bud Olsen  BOS  28.0  PF        University of Louisville
2841  1969.0    Bill Russell*  BOS  34.0   C                             NaN
2843  1969.0     Tom Sanders*  BOS  30.0  SF                             NaN
2846  1969.0  Larry Siegfried  BOS  29.0  PG           Ohio State University

In [31]:
nba_1970champion = nba_champion.loc[nba_champion["Year"] == 1970.0]
nba_1970champion = nba_1970champion.loc[nba_1970champion["Tm"] == "NYK"]
nba_1970champion

        Year             Player   Tm   Age Pos                     college
2899  1970.0       Dick Barnett  NYK  33.0  SG  Tennessee State University
2911  1970.0        Nate Bowman  NYK  26.0   C    Wichita State University
2912  1970.0      Bill Bradley*  NYK  26.0  SF                         NaN
2932  1970.0  Dave DeBusschere*  NYK  29.0  PF                         NaN
2942  1970.0      Walt Frazier*  NYK  24.0  PG                         NaN
2973  1970.0        Bill Hosket  NYK  23.0  PF       Ohio State University
3006  1970.0            Don May  NYK  24.0  SF        University of Dayton
3035  1970.0       Willis Reed*  NYK  27.0   C                         NaN
3038  1970.0       Mike Riordan  NYK  24.0  SG          Providence College
3044  1970.0     Cazzie Russell  NYK  25.0  SF      University of Michigan
3061  1970.0    Dave Stallworth  NYK  28.0  SF    Wichita State University
3082  1970.0        John Warren  NYK  22.0  SG       St. John's University

In [32]:
nba_1971champion = nba_champion.loc[nba_champion["Year"] == 1971.0]
nba_1971champion = nba_1971champion.loc[nba_1971champion["Tm"] == "MIL"]
nba_1971champion

,Year,Player,Tm,Age,Pos,college
3099,1971.0,Kareem Abdul-Jabbar*,MIL,23.0,C,NaN
3102,1971.0,Lucius Allen,MIL,23.0,PG,"University of California, Los Angeles"
3123,1971.0,Bob Boozer,MIL,33.0,PF,Kansas State University
3147,1971.0,Dick Cunningham,MIL,24.0,C,Murray State University
3148,1971.0,Bob Dandridge,MIL,23.0,SF,Norfolk State University
3176,1971.0,Gary Freeman,MIL,22.0,SF,Oregon State University
3182,1971.0,Bob Greacen,MIL,23.0,SF,Rutgers University
3252,1971.0,Jon McGlocklin,MIL,27.0,SG,Indiana University
3256,1971.0,McCoy McLemore,MIL,28.0,SF,Drake University
3286,1971.0,Oscar Robertson*,MIL,32.0,PG,NaN
3300,1971.0,Greg Smith,MIL,24.0,PF,Western Kentucky University
3301,1971.0,Greg Smith,MIL,24.0,PF,"California State University, Fresno"
3331,1971.0,Jeff Webb,MIL,22.0,SG,Kansas State University
3348,1971.0,Marv Winkler,MIL,22.0,G,University of Louisiana at Lafayette
3350,1971.0,Bill Zopf,MIL,22.0,PG,Duquesne University

In [33]:
nba_1972champion = nba_champion.loc[nba_champion["Year"] == 1972.0]
nba_1972champion = nba_1972champion.loc[nba_1972champion["Tm"] == "LAL"]
nba_1972champion

,Year,Player,Tm,Age,Pos,college
3365,1972.0,Elgin Baylor*,LAL,37.0,SF,NaN
3382,1972.0,Wilt Chamberlain*,LAL,35.0,C,NaN
3390,1972.0,Jim Cleamons,LAL,22.0,PG,Ohio State University
3414,1972.0,Leroy Ellis,LAL,31.0,C,St. John's University
3415,1972.0,Keith Erickson,LAL,27.0,SF,"University of California, Los Angeles"
3428,1972.0,Gail Goodrich*,LAL,28.0,SG,NaN
3435,1972.0,Happy Hairston,LAL,29.0,PF,New York University
3500,1972.0,Jim McMillian,LAL,23.0,SF,Columbia University
3538,1972.0,Pat Riley*,LAL,26.0,SG,NaN
3545,1972.0,Flynn Robinson,LAL,30.0,SG,University of Wyoming
3582,1972.0,John Trapp,LAL,26.0,SF,"University of Nevada, Las Vegas"
3608,1972.0,Jerry West*,LAL,33.0,PG,NaN

In [34]:
nba_1973champion = nba_champion.loc[nba_champion["Year"] == 1973.0]
nba_1973champion = nba_1973champion.loc[nba_1973champion["Tm"] == "NYK"]
nba_1973champion

,Year,Player,Tm,Age,Pos,college
3635,1973.0,Dick Barnett,NYK,36.0,SG,Tennessee State University
3640,1973.0,Henry Bibby,NYK,23.0,PG,"University of California, Los Angeles"
3648,1973.0,Bill Bradley*,NYK,29.0,SF,NaN
3684,1973.0,Dave DeBusschere*,NYK,32.0,PF,NaN
3702,1973.0,Walt Frazier*,NYK,27.0,PG,NaN
3705,1973.0,John Gianelli,NYK,22.0,C,University of the Pacific
3738,1973.0,Phil Jackson*,NYK,27.0,PF,NaN
3766,1973.0,Jerry Lucas*,NYK,32.0,PF,NaN
3788,1973.0,Dean Meminger,NYK,24.0,SG,Marquette University
3793,1973.0,Earl Monroe*,NYK,28.0,SG,NaN
3812,1973.0,Luther Rackley,NYK,26.0,C,Xavier University
3815,1973.0,Willis Reed*,NYK,30.0,C,NaN
3816,1973.0,Tom Riker,NYK,22.0,C,University of South Carolina
3898,1973.0,Harthorne Wingo,NYK,25.0,PF,Friendship Junior College

In [35]:
nba_1974champion = nba_champion.loc[nba_champion["Year"] == 1974.0]
nba_1974champion = nba_1974champion.loc[nba_1974champion["Tm"] == "BOS"]
nba_1974champion

,Year,Player,Tm,Age,Pos,college
3937,1974.0,Don Chaney,BOS,27.0,SG,University of Houston
3947,1974.0,Dave Cowens*,BOS,25.0,C,NaN
3959,1974.0,Steve Downing,BOS,23.0,C,Indiana University
3965,1974.0,Hank Finkel,BOS,31.0,C,University of Dayton
3992,1974.0,Phil Hankinson,BOS,22.0,SF,University of Pennsylvania
3994,1974.0,John Havlicek*,BOS,33.0,SF,NaN
4026,1974.0,Steve Kuberski,BOS,26.0,PF,Bradley University
4071,1974.0,Don Nelson*,BOS,33.0,SF,NaN
4105,1974.0,Paul Silas,BOS,30.0,PF,Creighton University
4143,1974.0,Paul Westphal,BOS,23.0,SG,University of Southern California
4145,1974.0,Jo Jo,BOS,27.0,PG,NaN
4148,1974.0,Art Williams,BOS,34.0,PG,"California State Polytechnic University, Pomona"

In [36]:
nba_1975champion = nba_champion.loc[nba_champion["Year"] == 1975.0]
nba_1975champion = nba_1975champion.loc[nba_1975champion["Tm"] == "GSW"]
nba_1975champion

,Year,Player,Tm,Age,Pos,college
4179,1975.0,Rick Barry*,GSW,30.0,SF,NaN
4180,1975.0,Butch Beard,GSW,27.0,PG,University of Louisville
4196,1975.0,Steve Bracey,GSW,24.0,SG,University of Tulsa
4201,1975.0,Bill Bridges,GSW,35.0,PF,University of Kansas
4236,1975.0,Derrek Dickey,GSW,23.0,PF,University of Cincinnati
4241,1975.0,Charles Dudley,GSW,24.0,PG,University of Washington
4285,1975.0,Charles Johnson,GSW,25.0,SG,University of California
4286,1975.0,George Johnson,GSW,26.0,C,Stephen F. Austin State University
4287,1975.0,George Johnson,GSW,26.0,C,Dillard University
4288,1975.0,George Johnson,GSW,26.0,C,St. John's University
4297,1975.0,Frank Kendrick,GSW,24.0,SF,Purdue University
4337,1975.0,Jeff Mullins,GSW,32.0,SG,Duke University
4357,1975.0,Clifford Ray,GSW,26.0,C,University of Oklahoma
4382,1975.0,Phil Smith,GSW,22.0,SG,University of San Francisco
4429,1975.0,Jamaal Wilkes*,GSW,21.0,SF,NaN

In [37]:
nba_1976champion = nba_champion.loc[nba_champion["Year"] == 1976.0]
nba_1976champion = nba_1976champion.loc[nba_1976champion["Tm"] == "BOS"]
nba_1976champion

,Year,Player,Tm,Age,Pos,college
4450,1976.0,Jerome Anderson,BOS,22.0,SG,West Virginia University
4452,1976.0,Jim Ard,BOS,27.0,C,University of Cincinnati
4472,1976.0,Tom Boswell,BOS,22.0,PF,University of South Carolina
4500,1976.0,Dave Cowens*,BOS,27.0,C,NaN
4548,1976.0,John Havlicek*,BOS,35.0,SF,NaN
4588,1976.0,Steve Kuberski,BOS,28.0,C,Bradley University
4609,1976.0,Glenn McDonald,BOS,23.0,SF,"California State University, Long Beach"
4630,1976.0,Don Nelson*,BOS,35.0,SF,NaN
4662,1976.0,Charlie Scott,BOS,27.0,SG,University of North Carolina
4664,1976.0,Ed Searcy,BOS,23.0,SF,St. John's University
4671,1976.0,Paul Silas,BOS,32.0,PF,Creighton University
4683,1976.0,Kevin Stacom,BOS,24.0,SG,Providence College
4710,1976.0,Jo Jo,BOS,29.0,PG,NaN

In [38]:
nba_1977champion = nba_champion.loc[nba_champion["Year"] == 1977.0]
nba_1977champion = nba_1977champion.loc[nba_1977champion["Tm"] == "POR"]
nba_1977champion

,Year,Player,Tm,Age,Pos,college
4775,1977.0,Corky Calhoun,POR,26.0,SF,University of Pennsylvania
4802,1977.0,Johnny Davis,POR,21.0,SG,University of Dayton
4847,1977.0,Herm Gilliam,POR,30.0,SG,Purdue University
4857,1977.0,Bob Gross,POR,23.0,SF,"California State University, Long Beach"
4877,1977.0,Lionel Hollins,POR,23.0,PG,Arizona State University
4906,1977.0,Robin Jones,POR,22.0,C,Saint Louis University
4933,1977.0,Maurice Lucas,POR,24.0,PF,Marquette University
4943,1977.0,Clyde Mayes,POR,23.0,PF,Furman University
4971,1977.0,Lloyd Neal,POR,26.0,PF,Tennessee State University
5032,1977.0,Larry Steele,POR,27.0,SG,University of Kentucky
5047,1977.0,Dave Twardzik,POR,26.0,PG,Old Dominion University
5056,1977.0,Wally Walker,POR,22.0,SF,University of Virginia
5057,1977.0,Bill Walton*,POR,24.0,C,NaN

In [39]:
nba_1978champion = nba_champion.loc[nba_champion["Year"] == 1978.0]
nba_1978champion = nba_1978champion.loc[nba_1978champion["Tm"] == "WSB"]
nba_1978champion

,Year,Player,Tm,Age,Pos,college
5112,1978.0,Greg Ballard,WSB,23.0,SF,University of Oregon
5165,1978.0,Phil Chenier,WSB,27.0,SG,University of California
5176,1978.0,Bob Dandridge,WSB,30.0,SF,Norfolk State University
5238,1978.0,Kevin Grevey,WSB,24.0,SF,University of Kentucky
5250,1978.0,Elvin Hayes*,WSB,32.0,PF,NaN
5253,1978.0,Tom Henderson,WSB,26.0,PG,University of Hawaii
5267,1978.0,Charles Johnson,WSB,28.0,SG,University of California
5300,1978.0,Mitch Kupchak,WSB,23.0,PF,University of North Carolina
5357,1978.0,Joe Pace,WSB,24.0,C,Coppin State University
5434,1978.0,Wes Unseld*,WSB,31.0,C,NaN
5438,1978.0,Phil Walker,WSB,21.0,SG,Millersville University of Pennsylvania
5478,1978.0,Larry Wright,WSB,23.0,PG,Grambling State University

In [40]:
nba_1979champion = nba_champion.loc[nba_champion["Year"] == 1979.0]
nba_1979champion = nba_1979champion.loc[nba_1979champion["Tm"] == "SEA"]
nba_1979champion

,Year,Player,Tm,Age,Pos,college
5489,1979.0,Dennis Awtrey,SEA,30.0,C,Santa Clara University
5522,1979.0,Fred Brown,SEA,30.0,PG,University of Iowa
5609,1979.0,Lars Hansen,SEA,24.0,C,University of Washington
5611,1979.0,Joe Hassett,SEA,23.0,SG,Providence College
5638,1979.0,Dennis Johnson*,SEA,24.0,SG,NaN
5647,1979.0,John Johnson,SEA,31.0,SF,University of Iowa
5669,1979.0,Tom LaGarde,SEA,23.0,C,University of North Carolina
5741,1979.0,Jackie Robinson,SEA,23.0,SF,"University of Nevada, Las Vegas"
5757,1979.0,Lonnie Shelton,SEA,23.0,PF,Oregon State University
5762,1979.0,Jack Sikma,SEA,23.0,C,Illinois Wesleyan University
5764,1979.0,Paul Silas,SEA,35.0,PF,Creighton University
5779,1979.0,Dick Snyder,SEA,34.0,SG,Davidson College
5806,1979.0,Wally Walker,SEA,24.0,SF,University of Virginia
5825,1979.0,Gus Williams,SEA,25.0,PG,University of Southern California

In [41]:
nba_1980champion = nba_champion.loc[nba_champion["Year"] == 1980.0]
nba_1980champion = nba_1980champion.loc[nba_1980champion["Tm"] == "LAL"]
nba_1980champion

,Year,Player,Tm,Age,Pos,college
5833,1980.0,Kareem Abdul-Jabbar*,LAL,32.0,C,NaN
5857,1980.0,Ron Boone,LAL,33.0,SG,Idaho State University
5881,1980.0,Marty Byrnes,LAL,23.0,SF,Syracuse University
5886,1980.0,Kenny Carr,LAL,24.0,PF,North Carolina State University
5898,1980.0,Jim Chones,LAL,30.0,C,Marquette University
5904,1980.0,Michael Cooper,LAL,23.0,SG,University of New Mexico
5945,1980.0,Don Ford,LAL,27.0,SF,"University of California, Santa Barbara"
5973,1980.0,Spencer Haywood*,LAL,30.0,PF,NaN
5981,1980.0,Brad Holland,LAL,23.0,SG,"University of California, Los Angeles"
6003,1980.0,Magic Johnson*,LAL,20.0,SG,NaN
6038,1980.0,Mark Landsberger,LAL,24.0,C,Arizona State University
6045,1980.0,Butch Lee,LAL,23.0,PG,Marquette University
6055,1980.0,Ollie Mack,LAL,22.0,SG,East Carolina University
6093,1980.0,Norm Nixon,LAL,24.0,PG,Duquesne University
6186,1980.0,Jamaal Wilkes*,LAL,26.0,SF,NaN