In [15]:
import pandas as pd
import numpy as np

In [20]:
#files to load
nba_players = "nba-players-stats_clean.csv"
season_stats = "Seasons_Stats_clean.csv"

#read files and store in df
nba_players_df = pd.read_csv(nba_players)
season_df = pd.read_csv(season_stats)

#combine data into single df
nba_info = pd.merge(nba_players_df,season_df, how="left", on="Player")
nba_info.head()

,Unnamed: 0_x,Player,height,weight,collage,born,birth_city,birth_state,Unnamed: 0_y,Year,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN,0,1950.0,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN,314,1951.0,...,0.644,NaN,NaN,89.0,77.0,NaN,NaN,NaN,97.0,202.0
2,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana,1,1950.0,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
3,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana,315,1951.0,...,0.649,NaN,NaN,100.0,115.0,NaN,NaN,NaN,98.0,152.0
4,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana,489,1952.0,...,0.588,NaN,NaN,81.0,70.0,NaN,NaN,NaN,56.0,126.0